.paginationContainer {
  display: flex;
  list-style-type: none;
  gap: 8px;
  font-family: 'Roboto', sans-serif;
}

.paginationItem {
  display: flex;
  align-items: center;
  color: #444444;
  padding: 10px 12px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 700;

  & {
    svg {
      path {
        fill: #444444;
      }
    }
  }
}

.disabled {
  pointer-events: none;
  & {
    svg {
      path {
        fill: #968E8A;
      }
    }
  }
}

.selected {
  color: #FFFFFF;
  background-color: #8A85C5;
}

.paginationItem:hover:not(.selected) {
  background-color: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}
