.services {
	display: flex;
	flex-direction: column;
	gap: 16px;
	justify-content: flex-start;
	align-items: center;
	padding: 8px 0px;
}

.text {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 18px;
	line-height: 133%;
	text-align: center;
	color: var(--dark-grey);
	overflow-wrap: break-word;
	width: 165px;
}