@import "@/app/global-variables.scss";

.card {
	display: flex;
	flex-direction: column;
	background: var(--white);
}

@media screen and (min-device-width: $desktop-min-width) {
	.card {
		padding: 20px;
	}
}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
	.card {
		padding: 12px 16px;
	}
}

/*$mobile-max-width: 480px;
$desktop-min-width: 481px;
$desktop-max-width: 1440px;

@media screen and (min-device-width: $desktop-min-width) {
}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
}
*/

.title {
	display: flex;
	flex-direction: column;
}

@media screen and (min-device-width: $desktop-min-width) {
	.title {
		gap: 8px;
		padding-bottom: 32px;
	}
}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
	.title {
		gap: 9px;
		padding-bottom: 27px;
	}
}

.name {
	font-family: var(--font-family);
	font-weight: 700;
	line-height: 125%;
	color: var(--dark-grey);
}
@media screen and (min-device-width: $desktop-min-width) {
	.name {
		font-size: 24px;
	}
}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
	.name {
		font-size: 16px;
	}
}

%chatFont {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 20px;
	color: var(--dark-grey);
}

.specialization {
	@extend %chatFont;
	line-height: 120%;
}

@media screen and (min-device-width: $desktop-min-width) {
	.specialization {
	}
}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
	.specialization {
		font-size: 14px;
	}
}

.contacts {
	display: flex;
	flex-direction: column;
}
@media screen and (min-device-width: $desktop-min-width) {
	.contacts {
		gap: 12px;
	}
	}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
	.contacts {
		gap: 4px;
		padding-bottom: 45px;
	}
}

.contact {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 11px;
	align-items: center;
}


.chatTitle {
	@extend %chatFont;
	line-height: 120%;
}

@media screen and (min-device-width: $desktop-min-width) {
}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
	.chatTitle {
		font-size: 14px;
	}
	
}

.chatLink {
	@extend %chatFont;
}
@media screen and (min-device-width: $desktop-min-width) {
}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
	.chatLink {
		font-size: 14px;
	}
}

.tel {
	font-family: var(--font-family);
	line-height: 120%;
	color: var(--dark-grey);
}
@media screen and (min-device-width: $desktop-min-width) {
	.tel {
		font-weight: 700;
		font-size: 20px;
	}
}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
	.tel {
		font-weight: 400;
		font-size: 14px;
	}	
}






