.container {
}

%mainFont {
	font-family: var(--font-family);
	color: var(--white);
	text-align: center;
}

.price {
	@extend %mainFont;
	font-weight: 700;
	font-size: 24px;
	line-height: 125%;
}

.propertyContainer {
	padding-top: 4px;
}

.propertyText {
	@extend %mainFont;
	font-weight: 400;
	font-size: 14px;
}
