@import '@/app/global-variables.scss';

.card {
	background: var(--white);
}

.image {
	object-fit: cover;
}

.imageWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (min-device-width: $desktop-min-width) {
}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px 23px;
}

.description {
	ul {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}
	.location {
		display: none;
	}
}

@media screen and (min-device-width: $desktop-min-width) {
	.description {
		ul {
			display: flex;
			flex-direction: column;
			gap: 8px;
		}
		.location {
			display: none;
		}
		.mobile {
			display: none;
		}
	}
}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
	.description {
		ul {
			display: flex;
			flex-direction: column;
			gap: 4px;
		}
		.location {
			display: none;
		}
		.desktop {
			display: none;
		}
	}
}

%mainFont {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 24px;
	line-height: 125%;
	color: var(--dark-grey);
}

.name {
	@extend %mainFont;
}

@media screen and (min-device-width: $desktop-min-width) {
	.name {
		padding-bottom: 16px;
	}
}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
	.name {
		font-size: 18px;
		padding-bottom: 12px;
	}
}

.date,
.city,
.duration {
	display: flex;
}

@media screen and (min-device-width: $desktop-min-width) {
	.date,
	.city,
	.duration {
		gap: 12px;
	}
}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
	.date,
	.city,
	.duration {
		gap: 4px;
	}
}

.text,
.target {
	@extend %mainFont;
	font-weight: 400;
	line-height: 133%;
}

@media screen and (min-device-width: $desktop-min-width) {
	.text,
	.target {
		font-size: 18px;
	}
}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
	.text,
	.target {
		font-size: 12px;
	}
}

.targetTitle {
	@extend %mainFont;
	line-height: 133%;
}

@media screen and (min-device-width: $desktop-min-width) {
	.targetTitle {
		font-size: 18px;
		padding-top: 8px;
	}
}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
	.targetTitle {
		font-size: 12px;
		padding-top: 12px;
	}
}

@media screen and (min-device-width: $desktop-min-width) {
	.COURSES {
		display: grid;
		grid-template-columns: max-content 1fr;
		width: 100%;

		a {
			display: none;
		}
		.image {
			//width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
	.COURSES {
		display: grid;
		grid-template-columns: max-content 1fr;
		width: 100%;

		a {
			display: none;
		}
		.image {
			width: 114px;
			height: 215px;
			object-fit: cover;
		}
	}
}

.PERSONAL {
	display: grid;
	grid-template-columns: max-content 1fr;
	width: 100%;

	.city {
		display: none;
	}
}


@media screen and (min-device-width: $desktop-min-width) {
	.HOME {
		display: grid;
		grid-template-rows: 1fr min-content;
		width: 100%;

		ul {
			display: none;
		}

		.image {
			width: 100%;
			//height: 100%;
			height: 300px;
			object-fit: cover;
		}

		.wrapper {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 0px 0px;
		}

		.description {
			padding: 16px 20px 32px 20px;
		}

		.location {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.date {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding-right: 16px;
		}

		.day {
			font-family: var(--font-family);
			font-weight: 400;
			font-size: 48px;
			text-align: center;
			color: var(--violet);
		}

		.month {
			font-family: var(--font-family);
			font-weight: 700;
			font-size: 18px;
			line-height: 133%;
			text-align: center;
			color: var(--violet);
		}

		.border {
			background: var(--violet);
			width: 2px;
			height: 55px;
		}

		.city {
			font-family: var(--font-family);
			font-weight: 700;
			font-size: 18px;
			line-height: 133%;
			text-align: center;
			color: var(--violet);

			padding-left: 16px;
		}
	}
}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
	.HOME {
		display: grid;
		grid-template-columns: auto;
		width: 100%;

		ul {
			display: none;
		}

		.image {
			width: 100%;
			//height: 100%;
			height: 164px;
			object-fit: cover;
		}

		.wrapper {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 0px 0px;
		}

		.description {
			padding: 16px 20px 20px 20px;
		}

		.location {
			display: flex;
			align-items: center;
			justify-content: flex-start;
		}

		.date {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding-right: 16px;
		}

		.day {
			font-family: var(--font-family);
			font-weight: 400;
			font-size: 48px;
			text-align: center;
			color: var(--violet);
		}

		.month {
			font-family: var(--font-family);
			font-weight: 700;
			font-size: 16px;
			line-height: 150%;
			text-align: center;
			color: var(--violet);
		}

		.border {
			background: var(--violet);
			width: 2px;
			height: 55px;
		}

		.city {
			font-family: var(--font-family);
			font-weight: 700;
			font-size: 16px;
			line-height: 150%;
			text-align: center;
			color: var(--violet);

			padding-left: 16px;
		}
	}
}


@media screen and (min-device-width: $desktop-min-width) {
	.mobile {
		display: none;
	}
}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
	.desktop {
		display: none;
	}
}
