.inputListContent {
	display: flex;
	flex-direction: column;
	gap: 34px;
	padding-top: 64px;
}

.buttonListContent {
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding-top: 80px;
}

.interButton {
	padding-bottom: 8px;
}

.registrationButton {
	padding-bottom: 5px;
}
