@import '@/app/global-variables.scss';

.section {
	display: flex;
	flex-direction: column;
}

@media screen and (min-device-width: $desktop-min-width) {
	.section {
		gap: 76px;
		padding: 140px 0px;
	}
}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
	.section {
		gap: 24px;
		padding-bottom: 40px;
	}
}

.title {
	font-family: var(--font-family);
	font-weight: 500;
	color: var(--dark-grey);
	text-align: start;
}

@media screen and (min-device-width: $desktop-min-width) {
	.title {
		font-size: 48px;
	}
}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
	.title {
		font-size: 20px;
	}
}

.contactsList {
	display: grid;
}

@media screen and (min-device-width: $desktop-min-width) {
	.contactsList {
		//grid-template-columns: repeat(auto-fit, minmax(543px, 1fr));
		grid-template-columns: repeat(auto-fit, minmax(481px, 1fr));
		gap: 24px;
	}
}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
	.contactsList {
		grid-template-columns: auto;
		gap: 24px;
	}
}

/*@import "@/app/global-variables.scss";
$mobile-max-width: 480px;
$desktop-min-width: 481px;
$desktop-max-width: 1440px;

@media screen and (min-device-width: $desktop-min-width) {
}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
}
*/
