@import "@/app/global-variables.scss";

.titleSection {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-top: 140px;

	//border: 1px solid red;
}
@media screen and (min-device-width: $desktop-min-width) {
	.desktop {
		display: block;
	}
}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
	.desktop {
		display: none;
	}
}


.section {
	padding-top: 64px;
	padding-bottom: 64px;
	//border: 1px solid red;
}
@media screen and (min-device-width: $desktop-min-width) {
}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
}

.title {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 48px;
	text-align: start;
	color: var(--dark-grey);
}
@media screen and (min-device-width: $desktop-min-width) {
}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
}

.paginationSection {
	//	padding-top: 64px;
	padding-bottom: 140px;
	//	border: 1px solid red;
}
@media screen and (min-device-width: $desktop-min-width) {
}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
}
