.titleSection {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-top: 140px;

	//border: 1px solid red;
}

.section {
	padding-top: 64px;
	padding-bottom: 64px;
	//border: 1px solid red;
}

.title {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 48px;
	text-align: start;
	color: var(--dark-grey);
}

.paginationSection {
	//	padding-top: 64px;
	padding-bottom: 140px;
	//	border: 1px solid red;
}
