@import '@/app/global-variables.scss';

.titleSection {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

@media screen and (min-device-width: $desktop-min-width) {
	.titleSection {
		padding-top: 140px;
	}
	
}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
	.titleSection {
		padding-top: 0px;
	}
	
}


@media screen and (min-device-width: $desktop-min-width) {
	.desktop {
		display: block;
	}
}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
	.desktop {
		display: none;
	}
}

.section {
	padding-top: 64px;
	padding-bottom: 64px;
}
@media screen and (min-device-width: $desktop-min-width) {
	.section {
		padding-top: 64px;
		padding-bottom: 64px;
	}
}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
	.section {
		padding-top: 24px;
		padding-bottom: 40px;
		//border: 1px solid red;
	}
}

.title {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 48px;
	text-align: start;
	color: var(--dark-grey);
}
@media screen and (min-device-width: $desktop-min-width) {
}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
}

.paginationSection {
	padding-bottom: 140px;
}
@media screen and (min-device-width: $desktop-min-width) {
	.paginationSection {
		padding-bottom: 140px;
	}
}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
	.paginationSection {
		padding-bottom: 40px;
	}
}
