.section {
	display: flex;
	flex-direction: column;
	gap: 76px;
	padding: 140px 0px;
}

.title {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 48px;
	text-align: start;
	color: var(--dark-grey);
}

.contactsList {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(543px, 1fr));
	gap: 24px;
}
