@import '@/app/global-variables.scss';


@media screen and (min-device-width: $desktop-min-width) {
	.wrapper {
		display: flex;
		flex-direction: column;
		gap: 32px;
	
		a {
			max-width: 354px;
		}
	}
	}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
	.wrapper {
		display: flex;
		flex-direction: column;
		gap: 16px;
	
		a {
			padding-top: 24px;
			width: 100%;
			padding-bottom: 16px;
		}
	}
}

.separator {
	border: solid 1px var(--dark-beige);
}

@media screen and (min-device-width: $desktop-min-width) {
}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
	.separator {
		margin: 8px 0px 8px 0px;
	}
}

%mainFont {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 24px;
	line-height: 125%;
	color: var(--dark-grey);
}

.description {
	display: flex;
	flex-direction: column;

	h2 {
		@extend %mainFont;
	}

	p {
		@extend %mainFont;
	}
}

@media screen and (min-device-width: $desktop-min-width) {
	.description {
		gap: 16px;
	
		h2 {
		}
	
		p {
			font-weight: 400;
			font-size: 18px;
			line-height: 133%;
		}
	}
	}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
	.description {
		gap: 8px;
	
		h2 {
			font-size: 14px;
		}
	
		p {
			font-weight: 400;
			font-size: 14px;
			line-height: 133%;
		}
		.descriptionMobile {
			font-weight: 700;
			font-size: 20px;
		}
	}
}

.details {
	display: flex;
	flex-direction: column;
	//gap: 32px;

	h2 {
		@extend %mainFont;
		font-weight: 700;
		font-size: 14px;
	//	font-size: 18px;
	//	line-height: 133%;
	}

	.modules {
		display: flex;
		flex-direction: column;
		//gap: 32px;
		& > li {
			display: flex;
			flex-direction: column;
			//gap: 16px;

			@extend %mainFont;
			font-weight: 700;
			font-size: 14px;

			.module {
				& > li {
					list-style-type: disc;
					list-style-position: inside;
					padding-left: 4px;

					@extend %mainFont;
//					font-weight: 400;
//					font-size: 18px;
//					line-height: 122%;


					.listItem {
						& > li {
							padding-left: 24px;
						}
					}
				}
			}
		}
	}
}

@media screen and (min-device-width: $desktop-min-width) {
	.details {
		gap: 32px;
	
		h2 {
			font-size: 18px;
			line-height: 133%;
		}
	
		.modules {
			gap: 32px;
			& > li {
				gap: 16px;
	
				font-size: 18px;
				line-height: 133%;
	
				.module {
					& > li {
						list-style-type: disc;
						list-style-position: inside;
						padding-left: 4px;
	
						font-weight: 400;
						font-size: 18px;
						line-height: 122%;
	
						.listItem {
							& > li {
								padding-left: 24px;
							}
						}
					}
				}
			}
		}
	}}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
	.details {
		gap: 8px;
	
		h2 {
			font-weight: 700;
			font-size: 14px;
		}
	
		.modules {
			gap: 8px;
			& > li {
				display: flex;
				flex-direction: column;
				gap: 8px;
	
				font-weight: 700;
				font-size: 14px;	

				.module {
					& > li {
						list-style-type: disc;
						list-style-position: inside;
						padding-left: 0px;
	
						font-weight: 400;
						font-size: 14px;
	
						.listItem {
							& > li {
								padding-left: 8px;
							}
						}
					}
				}
			}
		}
	}
}

.accordionOpened {
	.contentWrapper {
		max-height: 100rem;
	}
}


.buttonDescription {
	display: flex;
	flex-direction: rows;
	align-items: center;
	justify-content: flex-start;
	gap: 4px;

	svg {
		display: flex;
		justify-content: center;
		transition-duration: 0.3s;
		transition-property: transform;
	}

}

.buttonDescriptionOpened {
	svg {
		transform: rotate(180deg);
	}

}

.buttonDescriptionText{
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 14px;
	color: #177cb5;
}

@media screen and (min-device-width: $desktop-min-width) {
	.mobile {
		display: none;
	}
	.desktop {
		display: block;
	}
}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
	.details {
		display: none;
	}
	.desktop {
		display: none;
	}
}


.descriptionOpened {
	display: flex;
}

