@import '@/app/global-variables.scss';

/*
.main {
	margin: 0 auto;
	max-width: 1110px;
}
*/

.section {
	padding-bottom: 140px;
}

@media screen and (min-device-width: $desktop-min-width) {
	.section {
		padding-bottom: 140px;
	}
}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
	.section {
		padding-bottom: 48px;
	}
}

.title {
	font-family: var(--font-family);
	color: var(--dark-grey);
}

@media screen and (min-device-width: $desktop-min-width) {
	.title {
		font-weight: 500;
		font-size: 48px;
		padding-bottom: 64px;
	}
}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
	.title {
		font-weight: 500;
		font-size: 20px;
		padding-bottom: 16px;
	}
}

.accordionList {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

@media screen and (min-device-width: $desktop-min-width) {
}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
}

.linkWrapper {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;

	> a {
		display: flex;
		gap: 4px;
		align-items: center;
		> h2 {
			font-family: var(--font-family);
			font-weight: 700;
			font-size: 16px;
			line-height: 150%;
			text-align: center;
			color: var(--violet);
		}
	}
}

.coursesList {
	display: grid;
}

@media screen and (min-device-width: $desktop-min-width) {
	.coursesList {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 24px;
		justify-items: center;
		padding-top: 0px;
	}
}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
	.coursesList {
		grid-template-columns: auto;
		gap: 16px;
		justify-items: center;
		padding-top: 0px;
	}
}

.awardsList {
	display: grid;
}
@media screen and (min-device-width: $desktop-min-width) {
	.awardsList {
		grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
		row-gap: 71px;
		column-gap: 64px;
		justify-items: center;
		padding-top: 40px;
	}
}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
	.awardsList {
		grid-template-columns: 1fr 1fr;
		row-gap: 16px;
		column-gap: 8px;
		justify-items: center;
		padding-top: 0px;
	}
}

.diplomaList {
	display: grid;
}

@media screen and (min-device-width: $desktop-min-width) {
	.diplomaList {
		grid-template-columns: repeat(auto-fit, minmax(259px, 1fr));
		row-gap: 24px;
		column-gap: 24px;
		justify-items: center;
		padding-top: 40px;
	}
}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
	.diplomaList {
		grid-template-columns: 1fr 1fr;
		row-gap: 16px;
		column-gap: 16px;
		justify-items: center;
		padding-top: 0px;
	}
}

@media screen and (min-device-width: $desktop-min-width) {
	.mobile {
		display: none;
	}
}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
	.desktop {
		display: none;
	}
}
