.main {
	margin: 0 auto;
	max-width: 1110px;
}

.accordionList {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.title {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 48px;
	color: var(--dark-grey);
	padding-bottom: 64px;
}
.section {
	padding-bottom: 140px;
}

.awardsList {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
	row-gap: 71px;
	column-gap: 64px;
	justify-items: center;
	padding-top: 40px;
}

.diplomaList {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(259px, 1fr));
	row-gap: 24px;
	column-gap: 24px;
	justify-items: center;
	padding-top: 40px;
}
