.headerContainer {
	width: 100%;
	background-color: #fdf6f2;
	display: flex;
	justify-content: center;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	min-height: 120px;
	max-width: 1110px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 120%;
	color: #444;
}

.logoText {
	width: 186px;
	padding-left: 16px;
}

.logoContainer {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.navigation {
	width: 100%;
	height: auto;
	max-width: 533px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.link {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: transform 0.2s ease-in-out;

	&_active {
		text-decoration: underline;
	}

	&:hover {
		transform: scale(1.1);
	}
}

.link:last-of-type {
}

.profileLink {
	gap: 4px;

	&:hover {
		height: 23px;
	}
}

.iconLogo {
	width: 48px;
	height: 48px;
}

.iconProfile {
	width: 20px;
	height: 20px;
}

.profileLinkText {
}
