@import "@/app/global-variables.scss";
//$mobile-max-width: 480px;
//$desktop-min-width: 481px;
//$desktop-max-width: 1440px;
/*
@media screen and (min-device-width: $desktop-min-width) {
}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
}
*/

/*
%maxWidth {
	margin: 0 auto;
	max-width: 1110px;
}
*/
%mainFont {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 20px;
	line-height: 120%;
	color: var(--white);
}

@media screen and (min-device-width: $desktop-min-width) {
	.mobile {
		display: none;
	}
}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
	.mobile {
		display: block;
	}
	.desktop {
		display: none;
	}
}


.footer {

	background: var(--brown);
	//min-width: var(--desctop-min-width);
}

@media screen and (min-device-width: $desktop-min-width) {
	.footer {
		margin: 0 auto;

	}
}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
	.footer {
		min-width: var(--mobile-min-width);
		//width: 100vw;
	}
	
}


.footerWrapper {
	margin: 0 auto;
}

@media screen and (min-device-width: $desktop-min-width) {
	.footerWrapper {
		max-width: var(--desktop-max-width);
	}
		
}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
	.footerWrapper {
//		min-width: var(--mobile-min-width);
		padding: 24px; 
	}
}


.footerContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: top;
}

.siteMapContainer {
	padding-top: 72px;
}
@media screen and (min-device-width: $desktop-min-width) {
	.siteMapContainer {
		padding-top: 72px;
	}	
}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
	.siteMapContainer {
		padding-top: 24px;
	}
}

.siteMapLinksWrapper {
	display: grid;
	grid-template-rows: auto;
	row-gap: 24px;
	@extend %mainFont;	
}

@media screen and (min-device-width: $desktop-min-width) {
	
}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
	.siteMapLinksWrapper {
		@extend %mainFont;
		font-weight: 500;
		font-size: 16px;
	}
}

.siteMapLink {
	display: inline-block;
	cursor: pointer;
	transition: transform 0.2s ease-in-out;

	&_active {
		text-decoration: underline;
	}

	&:hover {
		transform: scale(1.1);
	}
}

.socialLinksContainer {
	padding-top: 64px;
}

@media screen and (min-device-width: $desktop-min-width) {
}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
	.socialLinksContainer {
		padding-top: 24px;
	}
}


.socialLinksWrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 22px;
}

.socialLink {
}

.attention {
	padding-top: 46px;
	padding-bottom: 59px;
}

@media screen and (min-device-width: $desktop-min-width) {
}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
	.attention {
		padding-top: 46px;
		padding-bottom: 59px;
	}
}


.attentionText {
	@extend %mainFont;
}
@media screen and (min-device-width: $desktop-min-width) {
	.attentionText {
		font-size: 16px;
		line-height: 125%;
	}
}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
	.attentionText {
		width: 221px;
		font-weight: 500;
		font-size: 12px;
	}
}


.privacyPolicy {
	background: var(--dark-beige);
}

.privacyPolicyWrapper {
	margin: 0 auto;
	display: grid;
	//grid-template-columns: 1fr 1fr;
	align-items: center;
}

@media screen and (min-device-width: $desktop-min-width) {
	.privacyPolicyWrapper {
		max-width: var(--desktop-max-width);
		padding: 26px 0px;
	}
}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
	.privacyPolicyWrapper {
		gap: 24px;
		padding: 12px 24px 24px 24px;
		//min-width: var(--mobile-min-width);
	}	
}

.privacyPolicyLink {
	@extend %mainFont;
	text-decoration: underline;
	text-decoration-skip-ink: none;
}

@media screen and (min-device-width: $desktop-min-width) {
	.privacyPolicyLink {
		line-height: 100%;
	}
}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
	.privacyPolicyLink {
		@extend %mainFont;
		font-weight: 500;
		font-size: 12px;
	}
}


.creators {
	display: grid;
}

@media screen and (min-device-width: $desktop-min-width) {
	.creators {
		grid-template-columns: min-content auto;
		column-gap: 32px;
		justify-content: end;
		align-items: center;
	}
}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
	.creators {
		grid-template-columns: 148px auto;
		column-gap: 4px;
		justify-content: end;
		align-items: center;
	}
}


.creatorsLogo {
}

.creatorsName {
	@extend %mainFont;
	text-align: right;

}

@media screen and (min-device-width: $desktop-min-width) {
}

@media screen and (max-device-width: $mobile-max-width) and (orientation: portrait) {
	.creatorsName {
		font-weight: 500;
		font-size: 12px;
	}
}

