%maxWidth {
	margin: 0 auto;
	width: 1110px;
};

%mainFont {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 20px;
	line-height: 120%;
	color: var(--white);
}

.footer {
	margin: 0 auto;
	width: 100%;
	background: var(--brown);
}

.footerWrapper {
	@extend %maxWidth;
}

.footerContainer {
	display: grid;
	grid-template-columns: 1fr auto;
}

.siteMapContainer {
	padding-top: 72px;
}

.siteMapLinksWrapper {
	display: grid;
	grid-template-rows: auto;
	row-gap: 24px;
}

.siteMapLinkWrapper {
	@extend %mainFont;
}

.siteMapLink {
	display: inline-block;
	cursor: pointer;
	transition: transform 0.2s ease-in-out;

	&_active {
		text-decoration: underline;
 }

	&:hover {
		transform: scale(1.1);
	}

}

.socialLinksContainer {
	padding-top: 64px;
}

.socialLinksWrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 22px;
}

.socialLink {
}

.attention {
	padding-top: 46px;
	padding-bottom: 59px;
}

.attentionText {
	@extend %mainFont;
	font-size: 16px;
	line-height: 125%;
}

.privacyPolicy {
	background: var(--dark-beige);
}

.privacyPolicyWrapper {
	@extend %maxWidth;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(370px, auto));
	align-items: center;
	padding: 26px 0px;
}

.privacyPolicyLink {
	@extend %mainFont;
	line-height: 100%;
	text-decoration: underline;
	text-decoration-skip-ink: none;
}

.creators {
	display: grid;
	grid-template-columns: min-content auto;
	column-gap: 32px;
	justify-content: end;
	align-items: center;
}

.creatorsLogo {
}

.creatorsName {
	@extend %mainFont;
	text-align: right;
}

@media screen and (max-width: 744px) {
}

@media screen and (max-width: 360px) {
}
