.main {
	margin: 0 auto;
	max-width: 1110px;
}

.section {
	padding-top: 140px;
}

.title {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 48px;
	color: var(--dark-grey);
	padding-bottom: 64px;
}

.description {
	padding-top: 64px;
}

