/* Убираем стандартный маркер Chrome */
.accordionDetails .accordionSummary::-webkit-details-marker {
	display: none;
}
/* Убираем стандартный маркер Firefox */
.accordionDetails > .accordionSummary {
	list-style: none;
}

.accordion {
}

.accordionDetails {
	border-radius: 4px 4px 0px 0px;
	padding: 16px 16px 16px 20px;
	background: var(--violet);
}

.accordionSummary {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;

	background: var(--violet);
	border-radius: 4px;
	padding: 0px 0px;
}

.accordionSummaryTitle {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 24px;
	line-height: 125%;
	color: var(--white);
}

.accordionSummaryChevron {
}

.accordionDetailsContent {
	padding: 20px 0px;
}

.accordionDetails[open] .accordionSummaryChevron {
	transform: rotate(180deg);
}
