
.accordion {
	display: flex;
	flex-direction: column;
	width: 100%;
	background: var(--violet);
	border-radius: 4px;
}

.title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	background: var(--violet);
	border-radius: 4px;
	padding: 16px 20px;
}

.titleText {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 24px;
	line-height: 125%;
	color: var(--white);
}

.title svg {
	display: flex;
	justify-content: center;
	transition-duration: 0.3s;
	transition-property: transform;
}

.accordionOpened svg {
	transform: rotate(180deg);
}

.contentWrapper {
	max-height: 0;
	overflow: hidden;
	transition-duration: 0.3s;
	transition-property: max-height;

	border-radius: 0px 0px 4px 4px;
	background: var(--violet);

	padding: 0px 20px 0px 20px;
}

.accordionOpened .contentWrapper {
	max-height: 100rem;
}

.subtitle {
	padding-top: 20px;

	font-family: var(--font-family);
	font-weight: 700;
	font-size: 20px;
	line-height: 120%;
	color: var(--white);
}


.descriptionList {
	padding: 40px 0px 0px 25px;

}
.descriptionItem{
	padding-top: 16px;
	list-style-type: disc;
	list-style-position: outside;
	color: var(--white);
}

.descriptionItem_text{
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 20px;
	color: var(--white);
}

.buttonWrapper {
	max-width: 280px;
	padding-top: 24px;
	padding-bottom: 20px;
}

.note {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 24px;
	color: var(--white);
	padding-top: 40px;

}

.servicesWrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
	row-gap: 40px;
	justify-items: center;
	padding-top: 40px;
}

